<div class="container">

    <div class="jumbotron">

        <img src="/../../public/images/burger.jpg" alt="A Happy Burger"/>
        <h1>Welcome to Burger Logger!</h1>
        <p>Dream up a yummy burger, then eat it!</p>
        <div class="card">
            <div class="card-body">
                <form class="create-form">
                    <div class="form-group">
                        <label for="newburger">Order Your Burger Here:</label>
                        <input type="text" id="newburger" name="burger">
                        <button type="submit" class="btn btn-success" id="addburger">Order Now
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <p>Content Goes Here</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <p>Content Goes Here</p>
                </div>
            </div>
        </div>
    </div>
</div>